.custom-bg-warning {
    background-image: linear-gradient(90deg, #997404 0%, #FFC107 0%, #997404 51%) !important;
    /* color: aliceblue; */
}

.custom-bg {
    /* background-image:linear-gradient(90deg, #a4a390 30%, #abad90 60%, #c3c3b3 100%) !important; */
    background-image: linear-gradient(90deg, #98a19c 30%, #b2b19b 60%, #afb0a0 100%) !important;
}

.z-4 {
    z-index: 4;
}

body {
    background-image: url("./assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-warning {
    background: linear-gradient(90deg, #98a19c 30%, #b2b19b 60%, #afb0a0 100%) !important;
    border-color: #b2b19b !important;
}

.btn-warning:hover {
    background: linear-gradient(90deg, #afb0a0 30%, #b2b19b 60%, #98a19c 100%) !important;
    border-color: rgb(101, 100, 100) !important;
    opacity: 80%;
    transition: 0.5s ease-in-out;
}

.list-group-item-warning {

    background: linear-gradient(90deg, #98a19c 30%, #b2b19b 60%, #afb0a0 100%) !important;
}

.card {
    background: transparent !important;
    /* border: none !important; */
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
}

.custom-card {
    transition: transform 0.3s ease-in-out;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important; */
    overflow: hidden;
}

.custom-card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
}

.bounce {
    position: relative;
    animation: Bounce 2s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%,
            0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%,
            0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%,
            0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%,
            0.99 97.73%, 1 100%) alternate-reverse;
    animation-iteration-count: 2;
}

.bounce-hover:hover {
    position: relative;
    animation: Bounce 2s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%,
            0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%,
            0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%,
            0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%,
            0.99 97.73%, 1 100%) alternate-reverse;
    animation-iteration-count: infinite;
}

.animate {
    transition: transform 0.3s linear;
}

.animate:hover {
    transform: translateY(-5px) scale(1.02);
}

.blurry {
    filter: blur(4px);
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

@keyframes Bounce {
    from {
        top: -8px;
    }

    to {
        top: 8px;
    }
}